<form action="/courses" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p> Enter a new course:</p>
    <input type='text' name='course[name]'/><br/>
    <textarea name='course[permanent]'></textarea><br/>
    <textarea name='course[par]'></textarea><br/>
    <textarea name='course[difficulty]'></textarea><br/>
    <input type='submit'/>
</form>
