<h1>Permanent Holes</h1>

<% @holes.permanent_holes.each do |hole| %>
   <h3><%= hole.name %></h3>
   <p>Distance to pin: <%= hole.distance_to_pin %> ft. </p>
   <p>Par: <%= hole.par %></p>
   <p>Permanent: <%= hole.permanent %></p>
<% end %>
